body{
    background: #F5F5F5;
    font-size: 1rem !important; 
    color: #231F20 !important;
  }
  .content {
    max-width: 500px;
    background: #ffffff;
    margin-bottom:20px;
  } 
  .fieldPadding {
    padding-right: 10px;
  }
  .header{
    font-size: large;
    font-weight: 900;
    font-size: 1.5rem !important;
    color: #002F6C !important;
  }
  .helptext1{
    font-size: 1rem !important;
    color: #231F20 !important;
    font-weight: 900;
  } 
  .helptext2{
    font-size: 1rem !important;
    color: #231F20 !important;
  }
.links{
  text-decoration: underline;
}