.THIS {
}
.THIS th, .THIS td {
    padding-left:0 !important;
}

.THIS .header{
    font-family: Arial,sans-serif;
    font-size: 23px;
    line-height: 1.5;
    font-weight: 100;
    color: #2574a9;
    border-top: 2px #000000 solid;
} 
.THIS .content{
    padding-bottom:10px;
    padding-top:10px;
}

.THIS .bodyData{
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #000000;
}

.THIS .section{
    padding-right:0;
    padding-left:0;
    margin-right:0%;
    margin-left:0%;
    width:100%;
}
.THIS .invitenote {
    font-size: 22px;
    color: #ff0000;
    font-weight: 500;
        text-decoration: underline;
}