<template>
    <div>
        <lightning-card>          
            <lightning-tabset variant="default" >
                <lightning-tab label="Enrollment" onactive={handleTabClick} value="Enrollment">
                        <template if:false={isDataAvailable}>
                            <p class="error_msg">{error_msg}</p>
                        </template>
                        <template if:true={isDataAvailable}>
                            <div class="data_table">
                            <lightning-datatable data={data} key-field="PersonId" columns={enrollmentColumns}
                                hide-checkbox-column min-column-width="130" data-navigation="disable">
                            </lightning-datatable>
                            </div>
                        </template>
                        <template class="loader"  if:true={showSpinner}>
                            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                        </template>    
                </lightning-tab>
                <lightning-tab label="Exam Result" onactive={handleTabClick} value="Enrollment ">
                    <template if:false={isDataAvailable}>
                        <p class="error_msg">{error_msg}</p>
                    </template>
                    <template if:true={isDataAvailable}>
                        <div class="data_table">
                        <lightning-datatable  data={data} key-field="Program" columns={examResultColumns}
                                hide-checkbox-column min-column-width="150">
                        </lightning-datatable>
                        </div>
                    </template>
                    <template class="loader"  if:true={showSpinner}>
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </template>    
                </lightning-tab>
                <lightning-tab label="Scholarship"  onactive={handleTabClick} value="Scholarship">
                    <template if:false={isDataAvailable}>
                        <p class="noData_msg">No active scholarships.</p>
                    </template>
                    <template if:true={isDataAvailable}>
                        <template for:each={data} for:item="rowData">
                            <div class="slds-grid slds-wrap slds-border_bottom slds-p-bottom_x-small slds-p-top_xx-small" key={rowData.Program}>    
								<div class="slds-col slds-size_1-of-2">    
								<p class="slds-p-bottom_small slds-text-title"><lightning-formatted-text value="Scholarship Type" class="slds-p-left_medium"></lightning-formatted-text></p>                          
								<p class="slds-p-bottom_small slds-text-color_default">
									<lightning-formatted-text value={rowData.ScholarshipType} class="slds-p-left_medium">

									</lightning-formatted-text></p>    
								</div>    
								<div class="slds-col slds-size_1-of-2">    
								<p class="slds-p-bottom_small slds-text-title"><lightning-formatted-text value="Status" class="slds-p-left_medium"></lightning-formatted-text></p>                          
								<p class="slds-p-bottom_small slds-text-color_default">
									<lightning-formatted-text value={rowData.Status} class="slds-p-left_medium">

									</lightning-formatted-text></p>    
								</div>
								<div class="slds-col slds-size_1-of-2">    
								<p class="slds-p-bottom_small slds-text-title"><lightning-formatted-text value="Application Date" class="slds-p-left_medium"></lightning-formatted-text></p>                          
								<p class="slds-p-bottom_small slds-text-color_default">
									<lightning-formatted-date-time value={rowData.ApplicationDate} year="numeric" month="short" day="numeric" hour="2-digit" minute="2-digit" hour12="false" time-zone="America/New_York" class="slds-p-left_medium">

									</lightning-formatted-date-time> EST
								</p>    
								</div>    
								<div class="slds-col slds-size_1-of-2">    
								<p class="slds-p-bottom_small slds-text-title"><lightning-formatted-text value="Last Updated" class="slds-p-left_medium"></lightning-formatted-text></p>                          
								<p class="slds-p-bottom_small slds-text-color_default">
									<lightning-formatted-date-time value={rowData.SubmittedDate} year="numeric" month="short" day="numeric" hour="2-digit" minute="2-digit" hour12="false" time-zone="America/New_York" class="slds-p-left_medium">

									</lightning-formatted-date-time> EST
								</p>    
								</div>
								<div class="slds-col slds-size_1-of-2">    
								<p class="slds-p-bottom_small slds-text-title"><lightning-formatted-text value="Assigned To" class="slds-p-left_medium"></lightning-formatted-text></p>                          
								<p class="slds-p-bottom_small slds-text-color_default">
									<lightning-formatted-text value={rowData.AssignedTo} class="slds-p-left_medium">

									</lightning-formatted-text></p>    
								</div>
								</div>
                            </template> 
                    </template>
                    <template class="loader"  if:true={showSpinner}>
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </template>                                      
                </lightning-tab>
                <lightning-tab label="Login History" onactive={handleTabClick} value="Login History">
                    <template if:false={isDataAvailable}>
                        <p class="error_msg">{error_msg}</p>
                    </template>
                    <template if:true={isDataAvailable}>
                        <div class="data_table">
                        <lightning-datatable  data={data} key-field="PersonId" columns={loginHistoryColumns}
                            hide-checkbox-column min-column-width="150"> 
                        </lightning-datatable>
                        </div> 
                    </template>  
                <template class="loader"  if:true={showSpinner}>
                    <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                </template>                   
                </lightning-tab>
                <lightning-tab label="Memberships" onactive={handleTabClick} value="Memberships"> 
                    <template if:false={isDataAvailable}>
                        <p class="error_msg">{error_msg}</p>
                    </template>
                    <template if:true={isDataAvailable}> 
                        <div class="data_table">     
                    <lightning-datatable onrowaction={handleMembershipsRowCLick}  data={data} key-field="PersonId" columns={membershipColumns}
                            hide-checkbox-column min-column-width="150">
                        </lightning-datatable>
                        </div>
                    </template>
                        <template class="loader"  if:true={showSpinner}>
                            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                        </template>
                </lightning-tab>
                
                <lightning-tab onactive={handleTabClick} label="Customer History" value="History">
                    <template if:false={isDataAvailable}>
                        <p class="error_msg">{error_msg}</p>
                    </template>
                    <template class="loader"  if:true={showSpinner}>
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </template>
                    <template if:true={isDataAvailable}>
                    <lightning-datatable  data={data} columns={customerHistoryColumns} key-field="PersonId"
                        hide-checkbox-column min-column-width="150">
                </lightning-datatable>
                </template>
                </lightning-tab>
                <lightning-tab label="Membership Application" onactive={handleTabClick} value="MembershipApplication">
                    <template if:false={isDataAvailable}>
                        <p class="error_msg">{error_msg}</p>
                    </template>
                    <template if:true={isDataAvailable}>
                        <div class="data_table">
                        <lightning-datatable data={data} onrowaction={handleMembershipApplicationRowCLick} key-field="PersonId" columns={membershipApplicationColumns}
                            hide-checkbox-column min-column-width="130" data-navigation="disable">
                        </lightning-datatable>
                        </div>
                    </template>
                    <template class="loader"  if:true={showSpinner}>
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </template>    
            </lightning-tab>
            </lightning-tabset>
        </lightning-card>
    </div>


    <!-- Modal -->

    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{modalTitle}</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <template if:true={isMemberShipModal} >
                <c-customer-care_-membership-transaction-tab customer-id={customerId} org-partner-id={orgPartnerId} orgtype={orgtype}  ></c-customer-care_-membership-transaction-tab>
                </template>
            <template if:true={isMemberShipAppModal} >
                <c-customer-care_-membership-application person-id={personId} submit-date={submitDate}  ></c-customer-care_-membership-application>
                </template>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={closeModal} title="OK">OK</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- /Modal -->
</template>