<template>
    <div class="slds-text-heading_medium slds-text-align_center slds-p-top_medium">
        Run Policy
    </div>
    <hr class="slds-m-vertical_medium">

    <div class="slds-p-around_medium">
        <div class="slds-text-body_regular slds-m-bottom_large slds-text-align_center">
            Do you want to run this policy?
        </div>
        <div class="slds-text-align_right">
            <lightning-button label="Cancel" onclick={onCancelClick}></lightning-button>
            <lightning-button variant="brand" 
                            label="Run" 
                            class="slds-m-left_xx-small" 
                            onclick={onRunClick} 
                            disabled={disableRunBtn}></lightning-button>
        </div>
    </div>
        
</template>