<!--
/*****************************************************************
Name: societyQuickLinks
Copyright © 2021 ITC
============================================================
Purpose:
============================================================
History
-------
VERSION  AUTHOR          DATE         DETAIL    Description
1.0      Alona Zubenko   05.04.2021   Created   CSR:
*****************************************************************/
 -->

<!-- Society Quick Links -->
<template>
    <lightning-card>

        <lightning-accordion class="example-accordion">
            <lightning-accordion-section name="mem" label="Society Quick Links">
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Marketing Cloud" value="Marketing_Cloud"
                                      title="Marketing Cloud" onclick={handleClick} icon-name="action:description"
                                      class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Training Documentation" value="Training_Documentation"
                                      title="Training Documentation" onclick={handleClick} icon-name="action:description"
                                      class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Cvent Event Management" value="Cvent_Event_Management"
                                      title="Cvent Event Management" onclick={handleClick} icon-name="action:description"
                                      class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Membership Application Review" value="MA_Society"
                                      title="Membership Application Review" onclick={handleClick} icon-name="action:description"
                                      class="slds-m-left_x-small"></lightning-button>
                </div>
            </lightning-accordion-section>
        </lightning-accordion>

    </lightning-card>
</template>