<apex:page standardController="Case" showHeader="false" sidebar="False" extensions="CustomerCare_AttachmentUpload">
    <!--
Program:       Use to replicate the attachment upload functionality and redirect to case page
date:          December 12,2017
Programmer:    Cognizant
-->
    <apex:outputPanel rendered="{!IF(($Profile.Name=='System Administrator' || $Profile.Name =='Outreach Management User' || $Profile.Name=='Membership' || $Profile.Name =='CustomerCare Admin'|| $Profile.Name =='Customer Care Back Office Agent' || $Profile.Name =='CustomerCare Supervisor' || $Profile.Name=='CustomerCare Exam Security'), true ,(!(case.Sub_Area__c=='Deferral') && !(case.Sub_Area__c=='ID Change') && !(case.Sub_Area__c=='Name Change') && !(case.Exam_Security__c)))}">
        <apex:form id="table">   
            <apex:pageBlock id="Attachments" >
                <apex:pageBlockButtons location="top">
                    <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="file" />&nbsp;
                    <apex:commandButton action="{!upload}" value="Upload File" /> &nbsp;  <apex:commandButton action="{!Refresh}" value="Refresh List" />
                </apex:pageBlockButtons>
                <apex:messages /> 
                <apex:pageBlockTable id="Attach" value="{!lstAttach}" var="c">
                    <apex:column title="Action" >
                        <apex:facet name="header">Action</apex:facet>
                        <apex:commandLink value="View" target="_blank" action="{!viewAttach}"  >
                            <apex:param id="viewId" name="ViewAttach" value="{!c.id}"/>
                        </apex:commandLink>
                        <a href="{!URLFOR($Action.Attachment.Download, c.id)}" onclick="window.open('{!URLFOR($Action.Attachment.Download, c.id)}', 
                                                                                        'newwindow', 
                                                                                        'width=500,height=500'); 
                                                                                        return false;">Download</a>
                    </apex:column>
                    <apex:column value="{!c.Name}"/>
                    <apex:column value="{!c.BodyLength }" />
                    <apex:column value="{!c.LastModifiedDate}"/>
                    <apex:column value="{!c.CreatedDate}"/>
                    <apex:column value="{!c.OwnerId}"/> 
                </apex:pageBlockTable> 
                
            </apex:pageBlock>
        </apex:form>
    </apex:outputPanel>    
</apex:page>