<!--
Description: OrderManagementCanvas is used for Order Management Canvas App. Currently it is used for Customer Care Console.

@author Vijay A.Vemuru  <vijay.vemuru@cognizant.com>
-->

<apex:page standardController="Case" sidebar="false" showHeader="false"> 

    <apex:canvasApp applicationName="OrderManagementCanvas" 
    
    width="auto" height="auto" scrolling="yes"/>
    
</apex:page>