<template>
    
    <template if:true={visible}>
        <lightning-button class="slds-align_absolute-center" variant="brand" label="Submit for Review" title="Submit for Review" onclick={setRecordId}></lightning-button>
    </template>
    <template if:false={visible}>
        <p>
                      
        </p>
    </template>

</template>