/**
 * Partner_Portal - Silver Peak Systems Partner Portal
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
a {
  margin-top: -50px;
  margin-right: 110px;
}
.ask-button {
  float: right;
}
@media screen and (max-width: 48em) {
  .ask-question_button {
    padding: 15px 35px;
  }
}