<!--
 - Created by ryanskelton on 2/18/20.
 -->

<!-- Announcements -->
<template>
    <div class="announcementContainer">
        <template for:each={announcements} for:item="announcement">
                <div key={announcement.Description} data-type={announcement.Type} class={announcement.cssClass}>
                    <lightning-layout multiple-rows=true >
                        <lightning-layout-item size=1 class="iconContainer">
                            <lightning-icon icon-name={announcement.icon}></lightning-icon>
                        </lightning-layout-item>
                        <lightning-layout-item size=11>
                            <div class="slds-grid_vertical-align-center">
                                <p>{announcement.Description}</p>
                            </div>

                        </lightning-layout-item>
                    </lightning-layout>
                </div>
        </template>
    </div>
</template>