.THIS {
}



@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    {
    /* For mobile: */
    .THIS ul.inlineIcons li {
    display: inline;
padding:0 5px;}

.THIS ul.inlineIcons li img{
    width:30px;
    
}

.THIS ul.inlineIcons{
        width: 80%;
    margin: 0 auto;
}
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.THIS ul.inlineIcons li {
    display: inline;
padding:0 10px;}

.THIS ul.inlineIcons li img{
    width:43px;
    
}

.THIS ul.inlineIcons{
        width: 45%;
    margin: 0 auto;
}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
/* For tablets: */
.THIS ul.inlineIcons li {
    display: inline;
padding:0 10px;}

.THIS ul.inlineIcons li img{
    width:50px;
    
}

.THIS ul.inlineIcons{
        width: 66%;
    margin: 0 auto;
}
}