<template>
    <div>
    <lightning-datatable data={data} key-field="SalesOrderId" columns={columns}
    hide-checkbox-column min-column-width="100" data-navigation="disable">
    
</lightning-datatable>
</div>
</template>