<template>
        <lightning-card>
            
            <lightning-accordion class="example-accordion">
                <lightning-accordion-section name="mem" label="Quick Links">
                    <div class="slds-p-bottom_medium">
                        <lightning-button variant="brand" label="Membership Application Review" value="CCAP_Internal_MemAppReview"
                        title="Membership Application Review" onclick={handleClick} icon-name="action:description" 
                        class="slds-m-left_x-small"></lightning-button>
                    </div>
                    <div class="slds-p-bottom_medium">
                        <lightning-button variant="brand" label="Societies Membership Application Review" value="MA_Society"
                         title="Societies Membership Application Review" onclick={handleClick} icon-name="action:description"
                          class="slds-m-left_x-small"></lightning-button>
                    </div>
                </lightning-accordion-section>
            </lightning-accordion>

           
            </lightning-card>
</template>