<template>
    <div class="container">
        <div class="slds-grid slds-gutter container-header slds-m-top_x-small ">
            <div class="slds-col slds-size_3-of-6 Heading  slds-text-heading_large heading">
                <span class="heading-text">Files</span>
            </div>
            <template if:true={fileUploadCheck}>
            <div class="slds-col slds-size_3-of-6 action " >
                <button class="button-file slds-button slds-button_brand buttonText" onclick = "{openModal}">New</button>
            </div>
            </template >
        </div>
        <div class="container-content">
            <template if:true={FilesADA}>
                <div class={containerClass}>
                    <template for:each={FilesADA} for:item="document">
                        <div class="grid-item" key={document.fileId}>
                            <span >
                                <p><img src={svgURL} class="container-icon"/> <a class="container-content-title" key={document.fileId} data-value ={document.fileId} onclick={url}  name="hyperLink"><b><u>{document.fileName}</u></b></a></p>
                                <p class="container-information">{document.uploadedDate} * {document.size}KB * {document.fileType}</p>
                            </span>
                            <br/><br/>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </div>
    <template if:true={bShowModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
           <div class="slds-modal__container">
              <header class="slds-modal__header">
                 <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                       alternative-text="close"
                       variant="inverse"
                       size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                 </button>
                
              </header>
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <lightning-file-upload 
                    label="Attach receipt"
                    name="fileUploader"
                    record-id={recordId}
                    onuploadfinished={handleUploadFinished}
                    multiple>
                 </lightning-file-upload>
                 
              </div>
              <footer class="slds-modal__footer">
                 <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
              </footer>
           </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
     </template>
</template>