<template>
    
    <lightning-datatable
                key-field="contentDocumentId"
                data={data}
                columns={columns}
                onrowselection={selectRows} >
    </lightning-datatable>
    <br />
    <lightning-layout horizontal-align="end">
        <lightning-layout-item padding="around-small" size="12">
    <lightning-button variant="brand" label="Delete" title="Delete" onclick={deleteRows} class="slds-m-left_x-small"></lightning-button>
    </lightning-layout-item>
    </lightning-layout>
</template>