<template>
    <lightning-card>
        
        <lightning-accordion class="example-accordion">
            <lightning-accordion-section name="mem" label="Quick Links">
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Professional Learning Tracker" value="PL_Tracker"
                     title="Professional Learning Tracker" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Professional Learning Admin Tool" value="PL_Admin_Tool"
                     title="Professional Learning Admin Tool" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Benchprep" value="Benchprep"
                     title="Benchprep" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Nomadic" value="Nomadic"
                     title="Nomadic" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Abintegro" value="Abintegro"
                     title="Abintegro" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Professional Learning Page (public facing)" value="PL_Page_public_facing"
                     title="Professional Learning Page (public facing)" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Professional Learning Guidebook (enterprise site page)" value="PL_Guidebook_enterprise_site_page"
                     title="Professional Learning Guidebook (enterprise site page)" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="MPL Guidebook" value="MPL_Guidebook"
                     title="MPL Guidebook" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-p-bottom_medium">
                    <lightning-button variant="brand" label="Professional Learning Teams Folder" value="PL_Teams_Folder"
                     title="Professional Learning Teams Folder" onclick={handleClick} icon-name="action:description"
                     class="slds-m-left_x-small"></lightning-button>
                </div>
            </lightning-accordion-section>
        </lightning-accordion>

       
        </lightning-card>
</template>