.THIS.grid {
    
	
	
	background-color:#4d4d4d;
    
    color:#ffffff;
    font-family: 'Times New Roman';
    font-size:17px;
     
}

.THIS .footer-cont li{
	display: inline;
	padding:0 25px;
}
.THIS .footer-cont {padding:30px 0;}

.THIS .footer-copyright {margin-left: 50px; }