.THIS {
}
.THIS .slds-form-element__label{
        font-size: 18px !important;
        font-weight: 500!important;
}

.THIS .slds-input{
    width: 50% !important;
    border-radius: 0px !important;
    border-width: 1px !important;
    border-color: black !important; }

.THIS .uiInput--select.select{
    width: 50% !important;
    border-radius: 0px !important;
    border-width: 1px !important;
    border-color: black !important;
}

.THIS .dynamic select{
     width: 50% !important;
} 
.THIS #profileAppCanvas{
   height:95% !important; 
   
}
.THIS .forceCanvasApp{
    height:5% !important;
}
.THIS div#profileAppCanvas iframe {
    height:95% !important;
}
.THIS div[id$='canvasapp'] {
    height:100% !important;
}
.THIS .uiInput--default .form-element__label{
        font-size: 18px !important;
    font-weight: 500!important;
}

.THIS .submitbtn{
    float:right;
}
.THIS input[type=number]::-webkit-inner-spin-button, 
.THIS input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.THIS .fldLabel{
    
    font-weight:bold;
}

@media only screen and (max-width: 568px) {
    .THIS .slds-button{
       float:right;
        margin-top:2px;
    }     
}