.THIS #profileAppCanvas{
   height:95% !important; 
   
}
.THIS .forceCanvasApp{
    height:5% !important;
}
.THIS div#profileAppCanvas iframe {
    height:95% !important;
}
.THIS div[id$='canvasapp'] {
    height:100% !important;
}