<!--
 - Created by ryanskelton on 1/8/20.
 -->

<!-- Footer Navigation -->
<template>
    <nav class={componentClass}>
        <div class={pageContainerClass}>
            <c-navigation-list
                                   link-1={userLink1} link-1-open-in-new-page={userLink1OpenInNewPage} link-1-text={userLink1Text}
                                   link-2={userLink2} link-2-open-in-new-page={userLink2OpenInNewPage} link-2-text={userLink2Text}
                                   link-3={userLink3} link-3-open-in-new-page={userLink3OpenInNewPage} link-3-text={userLink3Text}
                                   link-4={userLink4} link-4-open-in-new-page={userLink4OpenInNewPage} link-4-text={userLink4Text}
                                   link-5={userLink5} link-5-open-in-new-page={userLink5OpenInNewPage} link-5-text={userLink5Text}
                                   link-6={userLink6} link-6-open-in-new-page={userLink6OpenInNewPage} link-6-text={userLink6Text}
                                   link-7={userLink7} link-7-open-in-new-page={userLink7OpenInNewPage} link-7-text={userLink7Text}
                                   link-8={userLink8} link-8-open-in-new-page={userLink8OpenInNewPage} link-8-text={userLink8Text}></c-navigation-list>
        </div>
    </nav>
</template>