/**
 * Created by ryanskelton on 1/8/20.
 */

/**
 * required styles
 */
nav {
    z-index: 1;
}

.headerNav {
    background: #007BCD;
    padding-left: 8.75rem;
}

.headerNav ul li a {
    font-size: 1.125rem !important;
    text-decoration: none !important;
}