.THIS{
    font-family:CFA Breuer Text;
}

.THIS .heading{
    font-size:22px;
    font-weight:bold;
}
.THIS .subheading{
    font-size:19px;
    font-weight:bold;
}
.THIS .content{
	font-size:16px;
}
.THIS .eng-date{
    font-size:16px;
	display: inline-block;
}