/**
 * Created by ryanskelton on 2/23/20.
 */
.gdpr {
    bottom: 0;
    position: fixed;

    width: 100%;
    z-index: 2;
}
.slds-notify p {
    margin-left: 6rem !important;
    color: #fff;
    font-size: 1.125rem;
}

.privacyButton {
    margin-left: 1.875rem !important;
}
.slds-notify__close {
    right: 11rem !important;
}
.close .slds-button {
    color: #fff !important;
    border: none !important;
}
.slds-form-element__label {
    color: #000;
}
.slds-modal__header {
    background-color: #E8E8E8;
    text-align: left;
    border: none;
}
.slds-modal__footer {
    border: none;
    text-align: left;
}

.slds-form-element__control .slds-checkbox {
    float: left !important;
}

@media screen and (max-width: 48em) {
    .slds-notify__close {
        right: 0rem !important;
        top: 1rem;
    }
}