<template>
    <div class="contentPlacement contentPlacement_m">
        <div class="content">
            <p class="cardBody-Title">
                Data Privacy Notice
            </p>
            <p class="cardBody-Message">
                {labels.GDPR_Message_P1}
            </p>
            <p class="cardBody-Message">
                {labels.GDPR_Message_P2} <a href="mailto:privacy@cfainstitute.org">privacy@cfainstitute.org</a>.
            </p>
            <button title="Accept Policy" onclick={acceptPolicy} class="button">
                Accept
            </button>
        </div>
        <div class="copyright">
            <span>&copy; {labels.currentYear} {labels.GDPR_CopyRight}</span>
        </div>
    </div>
</template>