.THIS {
}
.THIS  button{
    
    margin-left:20%;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    {
    /* For mobile: */
    

.THIS  .img{
    width:30% !important;
     height:auto !important;
    float: left;
}

 
}